VITE_SUPABASE_URL=https://lsjtglurylyrbnlkszwg.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key

VITE_CLOUDINARY_CLOUD_NAME=bttoiwjr
VITE_CLOUDINARY_API_KEY=939768171556227
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=cloudinary://939768171556227:your_cloudinary_api_secret@bttoiwjr
